name: Test

on: [push, pull_request]

env:
  FULL_COVERAGE_CHECK: false # Someday, someday...

jobs:
  test:
    runs-on: ubuntu-latest

    # We want to run on external PRs, but not on our own internal PRs as they'll be run on push event
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'umbrellio/utils'

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4"]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: root
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      PGHOST: localhost
      PGUSER: root

    steps:
      - uses: actions/checkout@v2

      - name: Start ClickHouse with mounted config
        run: |
          docker run -d --name ch \
            -e CLICKHOUSE_SKIP_USER_SETUP=1 -e CLICKHOUSE_DB=umbrellio_utils_test -p 8123:8123 -p 9000:9000 \
            -v ${{ github.workspace }}/.github/clickhouse/config.d:/etc/clickhouse-server/config.d \
            -v ${{ github.workspace }}/.github/clickhouse/users.d:/etc/clickhouse-server/users.d \
            clickhouse/clickhouse-server:25.3.6.56-alpine

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: latest
          bundler-cache: true

      - run: psql -c 'CREATE DATABASE umbrellio_utils_test'

      - name: Run Linter
        run: bundle exec ci-helper RubocopLint

      - name: Check missed spec suffixes
        run: bundle exec ci-helper CheckSpecSuffixes --extra-paths spec/*.rb --ignored-paths spec/*_helper.rb

      - name: Run specs
        run: bundle exec ci-helper RunSpecs

#      - name: Coveralls
#        uses: coverallsapp/github-action@master
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
